# Exercise 4a - Pandas data munging

In [1]:
import pandas as pd

### Dealing with dates

Start by reading in `data/gdp.csv`:

In [2]:
gdp = pd.read_csv('data/gdp.csv')

Take a look at its contents

In [3]:
gdp.head()

         DATE    GDP
0  1947-01-01  243.1
1  1947-04-01  246.3
2  1947-07-01  250.1
3  1947-10-01  260.3
4  1948-01-01  266.2

What type is the `DATE` column?

In [6]:
gdp.DATE.dtype

dtype('O')

Can you parse those into `datetime` format?

_Hint_: `pd.to_...`

In [11]:
pd.to_datetime(gdp.DATE).head()

0   1947-01-01
1   1947-04-01
2   1947-07-01
3   1947-10-01
4   1948-01-01
Name: DATE, dtype: datetime64[ns]

Now look at the arguments for `pd.read_csv()` and figure out how to parse the dates automatically

In [19]:
gdp = pd.read_csv('data/gdp.csv', parse_dates=['DATE'])
print(gdp.DATE.dtype)

datetime64[ns]

### Merging data

Load in `data/gdp.csv` (Gross Domestic Product), `data/cpi.csv` (Consumer Price Index), and `data/rec.csv` (Recessions)

_Note_: all three csvs are in the same format

In [21]:
gdp = pd.read_csv('data/gdp.csv', parse_dates=['DATE'])
cpi = pd.read_csv('data/cpi.csv', parse_dates=['DATE'])
rec = pd.read_csv('data/rec.csv', parse_dates=['DATE'])

Merge GDP and CPI into a single `DataFrame`

In [23]:
data = pd.merge(gdp, cpi)
data.head()

        DATE    GDP  CPIAUCSL
0 1947-01-01  243.1     21.48
1 1947-04-01  246.3     22.00
2 1947-07-01  250.1     22.23
3 1947-10-01  260.3     22.91
4 1948-01-01  266.2     23.68

Now